.first-heading{
    color:red;
}
.second-heading{
    color: red;
    font-style: italic;
}
#span1{
    text-decoration: line-through;
    
}
#span2{
    background-color:yellow ;

}
#list4{
    font-style: italic;
    text-decoration: underline;
}
.order-list1{
    line-height: 33px;
    color: brown;
}
#span3{
    background-color: yellow;
}
.ul1{
    color: brown;
    word-spacing: 15px;
    letter-spacing: 2px;
    line-height: 20px;
}
#nav{
    color: red;
    font-style: italic;
    font-weight: 600;
    background-color: yellow;
    text-decoration: none;
}
.nav{
    list-style: none;
}

